<hr>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	<div class="input-group">
	    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Equipment" #equipmentTypeInput>
	</div>
</div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
	<div class="input-group">
		<input type="text" class="form-control" #equipmentHourInput placeholder="Quantity of hours">
		<span class="input-group-addon">$</span>
	    
	    <input type="text" class="form-control" #equipmentCostInput>
	    <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="addEquipmentToProject()"
        [@clickedState]="clickInfo">Add</button>
      </span>
	</div>
</div>

<hr>
<flash-messages></flash-messages>
