<div class="container">
	<div class="row">
		<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
			<form (ngSubmit)="createNewProject(newProject)">
				<button class="btn btn-success" type="submit" (click)="createLaborInput(); $event.preventDefault()">Add Labor Hours</button>
				<button class="btn btn-success" type="submit" (click)="createMaterialInput(); $event.preventDefault()">Add Material</button>
				<button class="btn btn-success" type="submit" (click)="createEquipmentInput();$event.preventDefault()">Add Equipment Expense</button>
				
				<div class="form-group">
					<label for="newBidName"> New Project Name</label>
					<input 
						name="newBidName"
						
						[(ngModel)]="newProject.newProjectName"
						class="form-control"
						placeholder="Enter a bid name"
					/>
				</div>
				<div class="form-group">
					<label for="location"> New Project Location</label>
					<input 
						name="newBidLocation"
						
						[(ngModel)]="newBid.newProjectLocation"
						class="form-control"
						placeholder="Bid Location"
					/>
				</div>
				<button class="btn btn-primary btn-lg btn-block" type="submit">Create Project</button>
			</form>
		</div>
		<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
		</div>
		
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="row" #projectData>
		</div>
	</div>
</div>