<div class="container projectCreateContainer">
	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 newProjectContainer">
			<button type="button" class="btn btn-outline-primary" (click)="close()">Close</button>
			<hr>
			<form (ngSubmit)="createNewProject(newProject)">
				
				
				<div class="form-group">
					<label for="newProjectName"> New Project Name</label>
					<input 
						name="newProjectName"
						
						[(ngModel)]="newProject.newProjectName"
						class="form-control"
						placeholder="Enter a project name"
					/>
				</div>
				<div class="form-group">
					<label for="location"> New Project Location</label>
					<input 
						name="newProjectLocation"
						
						[(ngModel)]="newProject.newProjectLocation"
						class="form-control"
						placeholder="Project Location"
					/>
				</div>
				<button class="btn btn-primary btn-lg btn-block" type="submit">Create Project</button>
			</form>
		</div>
		<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
		</div>
		
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="row" #projectData>
		</div>
	</div>
</div>