<hr>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
	<div class="input-group">
	    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Labor type" #laborTypeInput>
	</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
	<div class="input-group">
		<input type="text" class="form-control" #laborHourInput placeholder="Quantity of hours">
		<span class="input-group-addon">$</span>
	    <input type="text" class="form-control" #laborCostInput>
	    <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="addLaborToBid()">Add</button>
      </span>
	</div>
</div>
<hr>
<flash-messages></flash-messages>
