<hr>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
	<div class="input-group">
	    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Construction Material" #materialInput>
	</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
	<div class="input-group">
		<span class="input-group-addon">Quantity:</span>
	    <input type="text" class="form-control" #quantityInput>
		<span class="input-group-addon">$</span>
	    <input type="text" class="form-control" #costInput>
	    <span class="input-group-btn">
        <button class="btn btn-secondary" (click)="addMaterialToBid()">Add</button>
      </span>
	</div>
</div>
<hr>
<flash-messages></flash-messages>
