<div class="container bidCreateContainer">
	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 newBidContainer">
			<button type="button" class="btn btn-outline-primary" (click)="close()">Close</button>
			<hr>
			<form (ngSubmit)="createNewProject(newBid)">
				
				<div class="form-group">
					<label for="projectName"> New Bid Name</label>
					<input 
						name="projectName"
						
						[(ngModel)]="newBid.projectName"
						class="form-control"
						placeholder="Enter a bid name"
					/>
				</div>
				<div class="form-group">
					<label for="projectLocation"> New Bid Location</label>
					<input 
						name="projectLocation"
						
						[(ngModel)]="newBid.projectLocation"
						class="form-control"
						placeholder="Bid Location"
					/>
				</div>
				<button class="btn btn-primary btn-lg btn-block" type="submit">Create bid</button>
			</form>
		</div>
		
		
	</div>
	<div class="row">
		<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="row" #bidData>
		</div>
	</div>
</div>
