<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1" id="newproject">
			<div class="layer">
				<div class="linkBox">
					<a class="text-center justify-content-center" (click)="newProject()">
						<h1 class="linkText"> New Project </h1>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-4 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2" id="allprojects">
			<div class="layer">
				<div class="linkBox">
					<a class="text-center justify-content-center" (click)="showAllProjects()">
						<h1 class="linkText"> All Projects</h1>

					</a>
				</div>
			</div>
		</div>
	</div>
</div>


