#bidLink {
	background-image: url("/assets/images/pexels-photo-209272.jpeg");
	height: 300px;
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 10px;
	box-shadow: 10px 5px 5px black;

}

#projectLink {
	background-image: url("/assets/images/pexels-photo-259966.jpeg");
	height: 300px;
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 10px;
	box-shadow: 10px 5px 5px black;


}
#mainSection {
	background: linear-gradient(black, white);
	border-radius: 5px;
	
}

.bidView {
	background-color: gray;
	opacity: 0.5;
}

#bidLinkText {
	color: white;
}

#projectLinkText {
	color: white;
}

#bidButton {
	position: absolute;
	right: 0px;
	bottom: 0px;
	
}

#projectButton {
	position: absolute;
	right: 0px;
	bottom: 0px;
	opacity: 0.80;
	height: 100px;
	color: white;
	font-size: 30px;
}

.well {
	margin-top: 20px;
}