#bidLink {
	background-image: url("/assets/images/pexels-photo-209272.jpeg");
	height: 300px;
	background-size: 100%;

}

#projectLink {
	background-image: url("/assets/images/pexels-photo-259966.jpeg");
	height: 300px;
	background-size: 100%;


}
#mainSection {
	background: linear-gradient(black, white);
	
}

#bidLinkText {
	color: white;
}

#projectLinkText {
	color: white;
}