<div class="container bidCreateContainer">
	<div class="row">
		<div class="col-xs-12 col-md-12 col-lg-12 newBidContainer">
			<button type="button" class="btn btn-outline-primary">Primary</button>
			<ul class="list-group">
				<li class="list-group-item">{{newBid.projectName}}--{{newBid.projectLocation}}</li>
			</ul>
			<form>
				<div class="form-group">
				<button class="btn btn-success" type="submit" (click)="createLaborInput(); $event.preventDefault()">Add Labor Hours</button>
				<button class="btn btn-success" type="submit" (click)="createMaterialInput(); $event.preventDefault()">Add Material</button>
				<button class="btn btn-success" type="submit" (click)="createEquipmentInput(); $event.preventDefault()">Add Equipment Expense</button>
				</div>
			</form>
			<button class="btn btn-primary btn-lg btn-block" type="submit" (click)="createBid()">Create</button>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-6 text-center">
			
		</div>
		
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="row" #bidData>
		</div>
	</div>
</div>