<nav class="navbar navbar-inverse bg-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand" id="title">Forge</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">

      	<span class="icon-bar"></span>
      	<span class="icon-bar"></span>
      	<span class="icon-bar"></span>

    	</button>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <ng-template [ngIf]="authService.isAuthenticated()">
          <li routerLinkActive="active"><a routerLink="/home">Home</a>
          </li>
      		  <li>
      			 <a routerLink="/bids">Bids
              </a>
      		  </li>
      		  <li>
      			 <a routerLink="/projects">Projects</a>
      		  </li>
        </ng-template>
      </ul>
      <form class="navbar-form navbar-right" role="search" (ngSubmit)="searchForTerm(form)" #form="ngForm">
        <div class="form-group">
          <input type="text" ngModel class="form-control" placeholder="Got a question?" name="searchTerm">
        </div>
        <button type="submit" class="btn btn-default" [popover]="myPopover">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li><a routerLink="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ng-template>
        <li><a style="cursor: pointer;" (click)="onLogout()" *ngIf="authService.isAuthenticated()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div>
      <popover-content #myPopover
        title=""
        placement="auto"
         >
        <h4>Title</h4>
        <h4>Id</h4>
        <h4>Img</h4>
        
      </popover-content>
</div>

<!--
<modal  title="Modal title"
        cancelButtonLabel="cancel"
        submitButtonLabel="submit"
        modalClass="modal-lg modal-sm any-other-css-class"
        [hideCloseButton]="true|false"
        [closeOnEscape]="true|false"
        [closeOnOutsideClick]="true|false"
        (onOpen)="actionOnOpen()"
        (onClose)="actionOnClose()"
        (onSubmit)="actionOnSubmit()">
 
    <modal-header>
        Modal header content goes there.
    </modal-header>
 
    <modal-content>
        Modal body content goes there.
    </modal-content>
 
    <modal-footer>
        Modal footer content goes there.
    </modal-footer>
        
</modal>

-->